@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", serif;
  background: #dfdfdf;
  color: #222222;
}
.container{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
}
.cabecalho {
  margin-top: -15px;
  height: 25rem;
  text-align: center;
}

.cabecalho > h1,
h4 {
  margin: 0;
  letter-spacing: -1px;
}

.cabecalho > h4{
  font-weight: 300;
}
#redes-sociais {
  margin: 30px 0px 30px 0px;
}

#redes-sociais > ul > li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  justify-content: center;
}

#redes-sociais > hr {
  width: 11rem;
  margin-top: 30px;
}

.linkedin,
.github,
.instagram {
  color: gray;
  margin-right: 1.5rem;
}
.linkedin:hover {
  color: #0e76a8;
}

.github:hover {
  color: #171715;
}

.instagram:hover {
  color: #d6249f;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

#photo > img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px #959595;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#skills{
  line-height: 1.5rem;
}

footer{
  background:black;
  color: #ffffff;
  width: 100%;
  height: 2rem;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
}

footer > p{
  margin-bottom: 0;
  margin-top: 0;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.secoes > h3{
  margin-bottom: 0;
}

.secoes > p {
  margin-top: 0;
  padding-left: 20px;
}